.play-video-col {
  position: relative;
}

.play-button-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.play-button {
  font-size: 3rem;
  color: white;
  cursor: pointer;
  position: relative;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 50%;
  padding: 2px;
}

.dotted-circle {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80px;
  height: 80px;
  border: 4px dotted white;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  z-index: 0;
  animation: pulsate 1.5s ease-in-out infinite;
}

@keyframes pulsate {
  0% {
    transform: translate(-50%, -50%) scale(1);
  }
  50% {
    transform: translate(-50%, -50%) scale(1.2);
  }
  100% {
    transform: translate(-50%, -50%) scale(1);
  }
}

/* gfdhfjgkhlhjhgdfvghfjgkhlgjhfgdfjgkhl */
.searchResult {
  display: flex;
  gap: 1rem;
}
.movieImage {
  height: 45vh;
  width: 50%;
  background: black;
  position: relative;
  padding: 1em;
  display: flex;
  align-items: center;
  justify-content: center;
}
.movieImg {
  width: 100%;
  height: 40vh;
  position: absolute;
  object-position: center;
  object-fit: fill;
}
.movieDiscription {
  height: 45vh;

  width: 50%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1em;
  color: whitesmoke;
  background: black;
}
.buttons {
  display: flex;
  gap: 5px;
}
.playBtn {
  width: 30%;
  background: bisque;
  padding: 0.5em;
  border-radius: 10px;
}
.comedyBtn {
  width: 30%;
  background: yellow;

  border-radius: 10px;
}
.actionBtn {
  width: 30%;
  background: red;

  border-radius: 10px;
}
.trailervideo {
  position: fixed;
  top: 10vh;
  left: 0;
  z-index: 100;
  padding: 2rem;
  backdrop-filter: blur(20px);
  height: 100vh;
}
.blur {
  filter: blur(20px);
}
@media screen and (max-width: 1200px) {
  .searchResult {
    display: flex;
    flex-direction: column;
  }
  .movieImage {
    width: 100%;
  }
}
