.card-col-individual {
  cursor: pointer;
}
.card-col-individual:hover {
  box-shadow: 0 0 40px 10px rgba(255, 255, 255, 0.5);
  transition: transform 0.1s ease-in-out, box-shadow 0.3s ease-in-out; /* Smooth transition */
}
.scroll-container {
  overflow-x: auto;
  scrollbar-width: none;
}
