.table {
  display: grid;
  grid-auto-flow: column;
  overflow-x: scroll;
  height: 43.5vh;
  padding-left: 0.5rem;
  background: #000;
  gap: 1rem;
}
.table::-webkit-scrollbar {
  display: none;
}
img {
  object-position: center;
  object-fit: contain;
  width: 100% !important;
}

.snaps-inline {
  scroll-snap-type: inline mandatory;
  scroll-padding-inline: var(--_spacer, 1rem);
}

.snaps-inline > * {
  scroll-snap-align: start;
}
