.carouselbodydiv {
  background: #000;
}
.carousel-elm {
  height: 80vh;
  background: #000;
}
.carousel-item {
  padding: 2rem;
  width: 100%;
  height: 100%;
}
.carousel-image {
  object-fit: fill;
  height: 70vh;
  width: 100% !important;
  border-radius: 20px;
}
